.newsletter-form {
    position: relative;

    input {
        width: 100%;
        background: lighten($color: $black, $amount: 10%);
        padding: 1rem 0 1rem 1rem;
        border-radius: 0.25rem;
        border: none;
        outline: none;
        color: $white;
    }

    button {
        position: absolute;
        border: none;
        background: transparent;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
    }
}
