.newsletter-form {
    position: relative;
    width: 100%;

    input {
        width: 100%;
        background: lighten($color: $black, $amount: 10%);
        padding: 1rem 0 1rem 1rem;
        border-radius: 0.25rem;
        border: none;
        outline: none;
        color: $white;
    }

    button {
        position: absolute;
        border: none;
        background: transparent;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        font-weight: 500;
    }

    &--light {
        input {
            background: $chalk;
            color: $black;
        }

        button {
            color: $black;
        }
    }
}

.social-share {
    position: static;
    align-self: flex-start;
    width: 100%;

    @media (min-width: 600px) {
        width: 3rem;
        top: 2rem;
        position: -webkit-sticky;
        position: sticky;
    }

    ul {
        display: flex;
        gap: 1rem;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-inline: auto;

        @media (min-width: 600px) {
            flex-direction: column;
        }
    }

    a {
        display: flex;

        img {
            width: 1rem;
            pointer-events: none;
        }
    }
}
