.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    @media (min-width: 600px) {
        padding: 2rem 4rem;
    }

    &__col {
        width: 100%;

        &:nth-child(2) {
            display: none;

            @media (min-width: 600px) {
                display: block;
            }
        }

        @media (min-width: 600px) {
            width: 10rem;
        }
    }

    &__logo {
        height: 3rem;
        display: flex;
        justify-content: center;

        img {
            height: 100%;
            vertical-align: middle;
        }
    }

    &__cta {
        display: flex;
        justify-content: flex-end;
    }

    &--dark {
        background: $black;
    }
}
