.hero {
    margin-top: -112px;
    background-image: url("../../../../public/img/bg2.png");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;

    &__container {
        display: flex;
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 1rem;
        opacity: 0.7;
    }
    h1 {
        font-size: 98px;
        font-weight: 700;
    }
}
