.form {
    margin-bottom: 1.5rem;
    width: 100%;

    &__box {
        margin-bottom: 1.5rem;
        width: 100%;
    }

    &__label {
        display: flex;
        margin-bottom: 0.5rem;
        font-weight: 700;
        color: $chalk;

        span:first-child {
            margin-right: 0.25rem;
        }
    }

    &__input,
    &__textarea {
        display: flex;
        width: 100%;
        border: none;
        background-color: $chalk;
        padding: 0.75rem 1rem;
        border-radius: 0.625rem;
        font-family: inherit;
        font-size: 0.875rem;
        resize: none;

        &--dark {
            background-color: $black;
            color: $chalk;
        }
    }

    &__image {
        width: 8rem;
        height: 8rem;
        -o-object-fit: contain;
        object-fit: contain;
        margin-bottom: 1.5rem;
    }

    &__row {
        display: flex;
        gap: 1.5rem;
    }

    &__button {
        border: none;
        color: $white;
        background-color: darken($black, 2%);
        font-weight: 700;
        font-family: inherit;
        padding: 0.75rem 1.5rem;
        border-radius: 0.625rem;
        cursor: pointer;
        transition: 0.3s ease-out;
        letter-spacing: 1px;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        ion-icon {
            font-size: 1rem;
        }

        &:hover {
            background: lighten($black, 10%);
        }
    }

    &__link {
        display: flex;
        margin-top: 2rem;
        font-size: 0.75rem;
        font-weight: 600;
        color: $chalk;
    }
}
