html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
}

input,
textarea {
    outline: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}
