.sidebar {
    position: fixed;
    width: 18rem;
    height: 100%;
    padding: 2rem;
    display: flex;
    background: darken($black, 1%);
    flex-direction: column;
    justify-content: space-between;

    &__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 4rem;

        &__img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            overflow: hidden;
            border: 4px solid $chalk;
            margin-bottom: 1rem;
        }

        &__text {
            color: $white;
            text-align: center;
            font-weight: 600;
        }
    }

    &__section {
        &__title {
            color: $white;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__menu {
        li:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $white;
        font-weight: 500;
        padding: 0.75rem 0;
        border-radius: 0.625rem;
        transition: 0.3s ease-out;
        position: relative;
        opacity: 0.5;

        &::after {
            content: "";
            position: absolute;
            right: -2rem;
            top: 50%;
            transform: translateY(-50%);
            height: 50%;
            width: 4px;
            border-radius: 1px;
            background: $chalk;
            opacity: 0;
            transition: 0.3s ease-out;
            box-shadow: 0 0 3px $chalk;
        }

        &--active,
        &:hover {
            opacity: 1;

            &:after {
                opacity: 1;
            }
        }

        ion-icon {
            font-size: 1.5rem;
        }
    }
}
