.table {
    color: darken($color: $chalk, $amount: 5%);
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    background: $black;
    border-collapse: collapse;

    &__head,
    tr:not(:last-child) {
        border-bottom: 1px solid lighten($color: $black, $amount: 2%);
    }

    &__head {
        font-size: 0.875rem;
    }

    tr {
        width: 100%;
        display: flex;
    }

    td {
        padding: 1rem 2rem;
        width: 100%;
    }

    &__actions {
        display: flex;
        gap: 1rem;
        a {
            color: $chalk;
            opacity: 0.5;
            transition: 0.3s ease-out;

            &:hover {
                opacity: 1;
            }
        }
    }
}
