.projects {
    margin-top: -112px;
    overflow-y: auto;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    height: 100vh;

    &::-webkit-scrollbar {
        display: none;
    }
}

.project {
    min-height: 100vh;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    background-size: cover;

    .container > div:not(:first-child) {
        margin-bottom: 2rem;
    }

    &__subtitle {
        display: flex;
    }

    &__title {
        h1 {
            font-size: 8rem;
        }
    }

    &__description {
        max-width: 50%;
        line-height: 2;
    }

    &__cta {
        font-size: 1.25rem;
        font-weight: 600;

        a {
            display: flex;
            align-items: center;
        }

        span:first-child {
            margin-right: 0.5rem;
        }
    }
}
