<div class="drafts">
  <ul>
    <li>
      <div class="draft d-flex ai--center jc--space-between">
        <div class="draft__content">
          <div class="draft__title">Test</div>
          <div class="draft__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo culpa
            laboriosam rem autem quis hic reprehenderit ad corporis. Nostrum,
            voluptates?
          </div>
          <div class="draft__info">Last edited 2 hours ago</div>
        </div>
        <div class="draft__actions">
          <div class="btn">Edit</div>
          <div class="btn">Delete</div>
        </div>
      </div>
    </li>
    <li>
      <div class="draft d-flex ai--center jc--space-between">
        <div class="draft__content">
          <div class="draft__title">Test</div>
          <div class="draft__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo culpa
            laboriosam rem autem quis hic reprehenderit ad corporis. Nostrum,
            voluptates?
          </div>
          <div class="draft__info">Last edited 2 hours ago</div>
        </div>
        <div class="draft__actions">
          <div class="btn">Edit</div>
          <div class="btn">Delete</div>
        </div>
      </div>
    </li>
    <li>
      <div class="draft d-flex ai--center jc--space-between">
        <div class="draft__content">
          <div class="draft__title">Test</div>
          <div class="draft__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo culpa
            laboriosam rem autem quis hic reprehenderit ad corporis. Nostrum,
            voluptates?
          </div>
          <div class="draft__info">Last edited 2 hours ago</div>
        </div>
        <div class="draft__actions">
          <div class="btn">Edit</div>
          <div class="btn">Delete</div>
        </div>
      </div>
    </li>
    <li>
      <div class="draft d-flex ai--center jc--space-between">
        <div class="draft__content">
          <div class="draft__title">Test</div>
          <div class="draft__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo culpa
            laboriosam rem autem quis hic reprehenderit ad corporis. Nostrum,
            voluptates?
          </div>
          <div class="draft__info">Last edited 2 hours ago</div>
        </div>
        <div class="draft__actions">
          <div class="btn">Edit</div>
          <div class="btn">Delete</div>
        </div>
      </div>
    </li>
  </ul>
</div>
