<!-- Change password box -->
<div class="account__box">
  <h3>Change password</h3>
  <form action="" class="form">
    <div class="form__box">
      <label class="form__label">
        Current password
        <span class="required">*</span>
      </label>
      <input type="password" class="form__input" />
    </div>
    <div class="form__row">
      <div class="form__box">
        <label class="form__label">
          New password
          <span class="required">*</span>
        </label>
        <input type="password" class="form__input" />
      </div>
      <div class="form__box">
        <label class="form__label">
          Confirm new password
          <span class="required">*</span>
        </label>
        <input type="password" class="form__input" />
        <span class="form__note">
      </div>
    </div>
    <button class="btn">Update password</button>
  </form>
</div>
