<div class="profile__card">
  <h2 class="mb-3">Following 311</h2>
  <div class="cards cards--3 mb-3">
    <div class="card card--follower card--auto-h">
      <div class="card__row">
        <div class="card__left">
          <div class="card__avatar avatar avatar--sm">
            <img src="image/author.jpg" alt="author" />
          </div>
          <div class="card__author">Ismayil Mirzayev</div>
        </div>
        <div class="card__right">
          <a href="" class="btn">Unfollow</a>
        </div>
      </div>
    </div>
    <div class="card card--follower card--auto-h">
      <div class="card__row">
        <div class="card__left">
          <div class="card__avatar avatar avatar--sm">
            <img src="image/author.jpg" alt="author" />
          </div>
          <div class="card__author">Ismayil Mirzayev</div>
        </div>
        <div class="card__right">
          <a href="" class="btn">Unfollow</a>
        </div>
      </div>
    </div>
    <div class="card card--follower card--auto-h">
      <div class="card__row">
        <div class="card__left">
          <div class="card__avatar avatar avatar--sm">
            <img src="image/author.jpg" alt="author" />
          </div>
          <div class="card__author">Ismayil Mirzayev</div>
        </div>
        <div class="card__right">
          <a href="" class="btn">Unfollow</a>
        </div>
      </div>
    </div>
  </div>
  <a href="" class="btn btn--icon">
    <span> Load more </span>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </a>
</div>
