@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.errors {
  margin-bottom: 2rem;
  color: #da0a2c;
  font-weight: 600;
}
.errors li:not(:last-child) {
  margin-bottom: 0.5rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.form__box:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__label {
  display: flex;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.form__label span:first-child {
  margin-right: 0.25rem;
}
.form__input, .form__textarea {
  display: flex;
  width: 100%;
  border: none;
  background: #f3f3f5;
  padding: 0.75rem 0 0.75rem 1rem;
  border-radius: 0.625rem;
  font-family: inherit;
  font-size: 0.75rem;
}
.form__button {
  border: none;
  color: #fff;
  background: #18171c;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 0.75rem;
}
.form__button:hover {
  background: #302e38;
}
.form__link {
  margin-top: 2rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #18171c;
}

.auth {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #f3f3f5;
}
.auth__form {
  min-width: 450px;
  padding: 2rem;
  border-radius: 1rem;
  background: #fff;
}

.sidebar {
  position: fixed;
  width: 18rem;
  height: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.sidebar__avatar__img {
  width: 6rem;
  height: 6rem;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.sidebar__avatar__text {
  color: #fff;
  text-align: center;
  font-weight: 600;
}
.sidebar__section__title {
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 600;
}
.sidebar__section:not(:last-child) {
  margin-bottom: 2rem;
}
.sidebar__menu li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.sidebar__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-weight: 500;
  padding: 0.75rem 0;
  border-radius: 0.625rem;
  transition: 0.3s ease-out;
  position: relative;
  opacity: 0.5;
}
.sidebar__link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40%;
  width: 4px;
  border-radius: 1px;
  background: #f3f3f5;
  opacity: 0;
  transition: 0.3s ease-out;
  box-shadow: 0 0 4px #f3f3f5;
}
.sidebar__link--active, .sidebar__link:hover {
  opacity: 1;
}
.sidebar__link--active:after, .sidebar__link:hover:after {
  opacity: 1;
}
.sidebar__link ion-icon {
  font-size: 1.5rem;
}

.wrapper {
  background: #18171c;
  min-height: 100vh;
}

.dashboard {
  margin-left: 18rem;
}
