.article {
    margin-bottom: 4rem;

    &__container {
        gap: 2rem;
        display: flex;
        flex-direction: column;

        @media (min-width: 600px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__content {
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        order: 1;
        line-height: 1.6;

        @media (min-width: 600px) {
            grid-template-columns: 0.75fr 1fr;
        }
    }

    .social-share {
        order: 2;
    }

    &__image {
        position: static;
        align-self: flex-start;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        align-items: center;

        @media (min-width: 600px) {
            position: -webkit-sticky;
            position: sticky;
            top: 2rem;
        }
    }
}
