.case {
    padding: 4rem;

    &__grid {
        display: flex;
        gap: 2rem;
    }

    &__col {
        max-width: 50%;
    }

    &__gallery {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__info {
        position: -webkit-sticky;
        position: sticky;
        top: 2rem;
        align-self: flex-start;
    }

    &__subtitle {
        padding-left: 5px;
        display: flex;

        h4 {
            margin-right: 0.5rem;
        }
    }

    &__title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    &__description {
        padding-left: 5px;
        margin-bottom: 2rem;
        line-height: 2;
        max-width: 75%;
    }

    &__cta {
        padding-left: 5px;
        font-size: 1.25rem;
        font-weight: 600;

        a {
            display: flex;
            align-items: center;
        }

        span:first-child {
            margin-right: 0.5rem;
        }
    }
}
