.projects {
    margin-top: -80px;
    overflow-y: auto;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    height: 100vh;

    @media (min-width: 600px) {
        margin-top: -112px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.project {
    min-height: 100vh;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    background-size: cover;

    .container > div:not(:first-child) {
        margin-bottom: 2rem;
    }

    &__subtitle {
        display: flex;
        padding-left: 4px;
        gap: 0.5rem;

        @media (min-width: 600px) {
            padding-left: 8px;
        }
    }

    &__title {
        h1 {
            font-size: 4rem;

            @media (min-width: 600px) {
                font-size: 8rem;
            }
        }
    }

    &__description {
        padding-left: 4px;
        line-height: 2;

        @media (min-width: 600px) {
            max-width: 50%;
            padding-left: 8px;
        }
    }

    &__cta {
        padding-left: 4px;
        font-size: 1.25rem;
        font-weight: 600;

        @media (min-width: 600px) {
            padding-left: 8px;
        }

        a {
            display: flex;
            align-items: center;
        }

        span:first-child {
            margin-right: 0.5rem;
        }
    }
}
